<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Book of Programming: Web Wisdom</title>
    <meta charset="utf8">
  </head>
  <body>
    <header class="hero">
      <div class="container">
        <h1>The Book of Programming</h1>
        <p>Fragments from an ancient tome of wisdom.</p>
      </div>
    </header>
    <nav>
      <div class="container">
        <a href="#">Home</a>
        <a href="#">Data/Control</a>
        <a href="#">Wisdom</a>
        <a href="#">Web</a>
      </div>
    </nav>
    <main>
      <div class="container">
        <section class="main">
          <h2>Web Wisdom</h2>
          <article>
            <h3>On the nature of HTML and CSS</h3>
            <p>
              Fu-Tzu once said: <em>HTML</em>, 
              the <em>passive</em> substance, forms 
              the <em>skeleton</em> upon which the web's flesh is draped. 
              CSS, the <em>active</em> substance, lends character to the 
              web's form. From the <em>plain</em> and <em>straightforward</em>, 
              the <em>ornate</em> and <em>engaging</em> emerges.
            </p>
          </article>
          <article>
            <h3>On vertically centering divs</h3>
            <p>
              In a prior age of web development, before the introduction of 
              <em>flexbox</em> and <em>grid</em> layouts, 
              a student was trying to <em>horizontally and vertically center</em> a 
              div contained inside another div. 
              After looking at his efforts for a while, Fu-Tzu said to the student: 
              <em>Worry not, young one, for one does not simply center a div</em>. 
            </p>
          </article>
          <article>
            <h3>On JavaScript</h3>
            <p>
              A student was learning JavaScript. One day, he went crying to his master.
              "Master, if evaluate the JavaScript expression <code>2+2-2</code> 
              the interpreter computes 2 as a result". "That seems correct", replied Fu-Tzu. 
              "But when I evaluate the expression <code>"2"+"2"-"2"</code> I get 20 as a result".
              Fu-Tzu said: "These are the wonders of JavaScript automatic
              type coercion, where even the simplest statement could lead to a 
              dance of unexpected outcomes." 
            </p>
          </article>
        </section>
        <aside>
          <img src="pic.jpg">
          <h1>Fu-Tzu: The Master</h1>
          <p>
            With a long beard and robes adorned with clever coding jokes, 
            Fu-Tzu was a legend among programmers.
          </p>
          <p>
            It is said his first word was printf. 
            Some of his wisdom was trascribed in the Book of Programming.
          </p>
        </aside>
      </div>
    </main>
    
    <footer>
      <span>&copy; 2024 - Web Technology Course,  
      <a href="https://informatica.dieti.unina.it">B.Sc. in Computer Science</a>,  
      <a href="https://www.unina.it">University of Naples Federico II</a></span>
    </footer>
  </body>
</html>

